<!-- El sigiente componente contiene una estructura de enrutamiento y conexion a la base de
datos firestore -->

<template>
  <div class="componentexample">
    <p v-html="title"></p>
    <input type="button" name="sayHello" @click="sayHello('Hello World!!')" value="Buton Example">
    <article v-for="(data, idx) in testfirestore" :key="idx">
        <h1>{{ data.name }} {{ data.lastname }}</h1>
    </article>
  </div>
</template>

<script>
/* eslint-disable */
import { db } from '../main'

  export default {
    name: 'componentexample',
    data(){
      return{
        title : '<h1>component example</h1>',
        testfirestore: []
      }
    },
    firestore () {
      return {
          testfirestore: db.collection('testfirestore'),
      }
    },
    methods: {
      sayHello: function (msg) {
        alert(msg);
      }
    }
  }

</script>
