<template>
  <div class="register">
    <p v-html="title"></p>
    <input type="text" name="name" v-model="name"><br>
    <input type="text" name="lastname" v-model="lastname">
    <br><br>
    <span v-text="fullname"></span>
  </div>

</template>

<script>
/* eslint-disable */
  export default {
    name: 'Register',
    data(){
      return{
        name : '',
        lastname: '',
        title : '<h1>Resgister View</h1>'
      }
    },
    methods: {
      sayHello: function (msg) {
        alert(msg);
      }
    },
    computed:{
      fullname : function(){
        return this.name + ' ' + this.lastname;
      }
    }
  }

</script>
