<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
    <componentexample></componentexample>
    <Register></Register>
  </div>
</template>

<script>
/* eslint-disable */
import componentexample from './components/componentexample'
import Register from './components/Register'

export default {
  name: 'App',
  components:{
    componentexample,
    Register
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
